In [6]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the Titanic dataset. Replace 'titanic.csv' with your own dataset file for your project.
# Ensure the dataset file exists and is in the same directory as this jupyter notebook.
HMS_df = pd.read_csv('HMS_2023-2024_qv clean.csv')

# Display the first few rows of the dataframe to ensure it is loaded correctly
display(HMS_df.head())

/var/folders/vv/51q1pwt94k78ll52rvgs9l3m0000gn/T/ipykernel_55263/806086510.py:8: DtypeWarning: Columns (12,36,42,181,197,209,217,225,238,243,356,362,373,404,474,521,603,615) have mixed types. Specify dtype option on import or set low_memory=False.
  HMS_df = pd.read_csv('HMS_2023-2024_qv clean.csv')

,RecordedDate,age,sex_birth,gender_male,gender_female,gender_queer,gender_nonbin,gender_trans,gender_prefnoresp,gender_selfID,...,debt_IRP_know,debt_IRP_enroll,inst_size,inst_type,inst_public,inst_geo,inst_specart,inst_speccc,inst_msi,peercohort
0,12/5/23 8:17,18.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4,3,1,8,0,0,0,3.0
1,11/16/23 17:37,18.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4,3,1,8,0,0,0,3.0
2,9/24/23 18:53,18.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5,3,1,5,0,0,0,3.0
3,11/21/23 7:17,20.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4,3,1,3,0,0,0,3.0
4,11/21/23 7:57,21.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,4,0,5,0,0,0,1.0